.nav-link {
    position: relative; /* Esto es necesario para que el ::after se posicione correctamente */
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: width 0.3s;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  .carousel-item img {
    height: 400px;
    object-fit: cover;
  }
  
  body {
    background: linear-gradient(to bottom, #5252a5, #0b0b83);
}

.carousel-inner img {
    max-height: 300px; 
    object-fit: cover;
}

/* Tarjetas en una columna */
#course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 400px;
}

body {
  background: linear-gradient(to bottom, #f4f4f9, #d3d3e3) !important;
}






